@mixin courseVideo {
    width: 52em;
    margin: 5em auto;
    background-color: grey;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    video {
        width: 100%;
    }

    .title,
    p {
        font-size: 1.6em;
        position: absolute;
        color: white;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 1.5em;
        top: calc(50% + 1em);
    }

    p {
        font-size: 1.5em;
        top: calc(50% + 3.4em);
        font-weight: 100;
    }

    img {
        --wid: 9em;
        border-radius: 50%;
        position: absolute;
        width: var(--wid);
        margin: auto;
        left: 0;
        right: 0;
        bottom: var(--wid);
        top: 0;
    }

    >* {
        z-index: 10;
    }

    &::after {
        content: "";
        background-color: rgb(26 26 26 / 85%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }

    &.active {
        &::after, .title, p, img {
            transition: .2s;
            opacity: 0;
            visibility: hidden;
        }
    }
}