@use 'sass:meta';
@use 'courseVideo' as cv;
@use '../Content/source/innerContent' as ic;

.journal {
    section {
        @include ic.innerContent;
    }

    .introDiv {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        --p: grey;

        .left {
            padding-inline: 2em 0em;

            .imgWrap {
                --wid: 22em;
                --color: var(--colorAlt);
                width: var(--wid);
                height: var(--wid);
                float: left;
                position: relative;

                &:nth-child(2n) {
                    --wid: 15em;
                    --color: var(--colorTheme);
                    float: right;
                }

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }

                &::after,
                &::before {
                    content: '';
                    border: .1em solid var(--color);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    top: -0.7em;
                    transform: scale(1.08);
                    z-index: -1;
                    opacity: .8;
                }

                &::before {
                    top: -0.1em;
                    left: -0.5em;
                    transform: scale(1.05);
                    opacity: .6;
                }
            }
        }
    }

    .courseVideo {
        @include cv.courseVideo;
    }

    .chart {
        position: relative;
        $colors: #A3DE8A,
        #DE87D8,
        #88D8E1,
        #C287E1,
        #DD8C89;

        >span {
            --wid: 15em;
            width: var(--wid);
            height: var(--wid);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--color);
            position: absolute;

            @for $i from 1 through length($colors) {
                $color: nth($colors, $i);

                &:nth-child(#{$i}) {
                    --color: #{$color};
                }
            }

            &.center {
                color: white;
                --color: #4E7C9D;
            }
        }
    }
}