main#course {
    --colorCompliment: white;
    --radius: 1em;
    margin: 3em;

    header {
        background-color: var(--colorTheme);
        color: var(--colorCompliment);
        border-radius: var(--radius);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 7em;

        .logoContainer {
            background-color: white;
            border: .1em solid purple;
            padding: 1em;
            border-radius: 50%;
            height: 13em;
            width: 13em;
            transform: scale(1.4);

            img {
                object-fit: contain;
                transform: scale(1.1) translate(16px, 17px);
            }
        }
        >img {
            width: 3em;
        }
        >section {
            h1 {
                color: #F7CD15;
            }
        }
    }
}