@use 'journal';
@use '../Content/source/Variables' as v;

body {
    background-color: #FAF9FF;
}

main#course {
    --colorCompliment: white;
    --radius: 1em;
    --shadow: 0px 0px 15px #00000014;
    --colorHeighlight: #308FCC;

    margin: 3em 4%;
    // main is top *******
    // margin: 3em 4.1em;
    // margin-left: 5.6em;

    >* {
        margin-bottom: 6em;
    }

    >header {
        background-color: var(--colorTheme);
        color: var(--colorCompliment);
        border-radius: var(--radius);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10% 3%;
        height: 17em;

        .logoContainer {
            background-color: white;
            border: .45em solid var(--colorTheme);
            padding: 1em;
            border-radius: 50%;
            height: 21em;
            width: 21em;
            display: flex;
            flex-shrink: 0;

            img {
                object-fit: contain;
            }
        }

        >img {
            height: 23em;
            width: 32em;
            align-self: flex-end;
        }

        >section {
            font-size: 1.9em;
            width: 23em;
            height: 90%;
            line-height: 2.2em;
            position: relative;

            h1 {
                color: var(--colorTitle);
                font-size: 2.2em;
            }

            span {
                position: absolute;
                font-size: 0.9em;
                top: 5em;
                right: 7em;

                &:nth-of-type(2) {
                    top: 6.5em;
                    right: 11em;
                }
            }

            p {
                position: absolute;
                font-size: .9em;
                font-weight: 600;
                top: 1em;
                left: 0;

                &:nth-of-type(2) {
                    top: 3.6em;
                    left: -3.6em;
                    text-align: left;
                    line-height: 2em;
                }

                em {
                    font-size: 2em;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }

    >.courseInfo {
        color: #42515a;
        font-size: 1.2em;

        span {
            padding: 1.6em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1.3em;
        }

        .head,
        .body .tr {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            border-radius: var(--radius);
        }

        .head {
            background-color: transparent;
            border-radius: var(--radius);
            margin-bottom: 1em;
            overflow: hidden;
            position: relative;

            span {
                font-weight: 600;
            }

            &::after {
                content: '';
                background-color: var(--colorTheme);
                opacity: .3;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }

        .body {
            background-color: white; //sdff
            border-radius: var(--radius);
            padding: 1em;
            box-shadow: var(--shadow);

            .tr:nth-child(2n) {
                background-color: #F9F9F9; //sdff
            }

            span:nth-child(8) {
                color: red;
            }
        }

        a.button {
            background-color: #308FCC;
            color: white;
            width: fit-content;
            height: fit-content;
            margin: auto;
            padding: 0.3em 1em;
            border-radius: 0.5em;
        }
    }

    >.main {
        display: grid;
        grid-template-columns: 22em auto;
        gap: 2em;
        font-size: 1.3em;

        >aside {
            box-shadow: var(--shadow);
            border-radius: var(--radius);
            border: 1.5em solid transparent;
            overflow: hidden;
            font-size: .9em;
            height: fit-content;
            --mb: 1.1em;

            h3 {
                color: var(--colorHeighlight);
                font-weight: 500;
                margin-bottom: var(--mb);
                line-height: 1.3em;
            }

            a {
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }

            ol {
                margin-bottom: var(--mb);

                li {
                    list-style-type: decimal;
                    line-height: 1.6em;
                    margin-right: 1.3em;
                    text-align: justify;
                }
            }
        }

    }

    @include v.media(1400px) {
        >header {
            font-size: .8em;
            padding-inline: 6em 0;
        }
    }

    @include v.media(v.$screen) {
        margin-inline: 1.6em;

        >.main {
            grid-template-columns: auto;

            aside {
                display: none;
            }
        }

        >header {
            padding-inline: 2em;
            font-size: 1.3vw;

            .logoContainer {
                background: transparent;
                border: none;
                position: absolute;
                display: none;
            }

            >img {
                font-size: .7em;
            }

            section {
                span {
                    &:nth-of-type(1) {
                        right: 2em;
                    }

                    &:nth-of-type(2) {
                        right: 4em;
                    }
                }

                p {
                    top: 2.6em;
                    left: -1em;

                    &:nth-of-type(2) {
                        top: 5.2em;
                        left: -1.5em;
                    }
                }
            }

            >h1 {
                font-size: 2em;
            }
        }
    }

    @include v.media(v.$laptop) {
    }

    @include v.media(v.$tablet) {
       background-color: red; 
    }

    @include v.media(v.$mobile) {
        background-color: yellow;
    }
}